/* STEP ONE: Configure an element to use for animation */

#animated-shape {
    width: 200px;
    height: 200px;
    background: plum;
 /* 4 sub-properties to attach an animation */
    animation-name: colorchange-alt;
    animation-duration:3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* STEP TWO: Define the animation sequence */

@keyframes colorchange {
    from {background: blue;}
    to {background: yellow;}
}
@keyframes colorchange-alt {
    0% { background: blue;}
    50% { background: yellow;}
    100% { background: blue;}
}

/* STEP 1: Attach animation to an element, using a shortcut property "animation" that combines name, duration, iterations and timing function */

#animated-emoji {
    animation: move-emoji 5s infinite ease-in-out;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 80px;
    font-size: 50px;
}
/* STEP 2: Define the animation sequence */
@keyframes move-emoji {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
    }
}








.box {
    background-color: red;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* The TRANSFORM property uses functional values like f(x) to change an element */

/* adding a negative can turn the shape in the opposite direction */
#rotate {
    transform:rotate(-10deg);
}

/* when you scale something, the number that is put in the () is not adding it, it is mulltiplying it */

/* when you want to make the scale smaller, it is a number between 0-1, and to make it bigger, it is a number between 1-9 */

#scale {
    transform: scale(.7);   
}

#skew {
    transform: skew(-15deg);
}
/* translate(x) moves along x axis, translate(x,y) moves diagonally, translate(0,Y) moves along Y only */
#translate {
    transform: translate(110px, 30px);
}

/* to apply MULTIPLE TRANSFORMS to the same element, you chain the functions in the same line of code */
#chain {
    transform: rotate(280deg) scaleX(.90) skew(30deg);
}

#three-d {
    transform: perspective(100px) translate(30px);
}

